{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
{% include 'sitemap/navbar.html' %}
<div class="row mt-5 py-5">
	<div class="col-md-4 offset-md-4 mt-5">
	    <h1 class="text-center">Log-in</h1>
	    <p class="text-center">Please, use the following form to log-in:</p>
	    <form action="" method="post">{% csrf_token %}
		{% if messages %}
		{% for message in messages %}
			<div class="form-row py-2">
				<div class="col">
				{% if message.level == 30 %}		
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<strong><i class="fa fa-exclamation-triangle"></i></strong>&emsp;{{ message }}.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				{% endif %}
				</div>
			</div>
	
		{% endfor %}
		{% endif %}
		<!--script type="text/javascript">
			function test(data){
				alert("Hello, " + data + "!");
			}

			var d = "[{{form.email.value}}]";
			test(d);

		</script-->

			<div class="form-row my-2">
				<div class="col">
					<input type="email" name="email" class="form-control zround" placeholder="Email Address" required="" value="{% if form.email.value %}{{form.email.value}}{% endif %}">
	                
	                {% if form.email.errors %}
					<small>
					{% for error in form.email.errors %}
					{{ error }}
					{% endfor %}
					</small>
					{% endif %}

				</div>
			</div>

			<div class="form-row my-3">
				<div class="col">
					<input type="password" name="password" class="form-control zround" placeholder="Password" required="" >
	                {% if form.password.errors %}
					<small>
	                {% for error in form.password.errors %}
					{{ error }}
					{% endfor %}
					</small>
					{% endif %}                    
				</div>
			</div>

			<div class="form-row my-2">		    
				<div class="col">
					<button class="w-100 btn btn-danger zround py-3" type="submit" aria-hidden="true">Sign In</button>
				</div>
			</div>

			<div class="form-row my-3">		    
				<div class="col text-center">
					<a href="" class="simple-link text-muted fsize14">Forgot Password?</a>
				</div>
			</div>

			<div class="form-row my-3">		    
				<div class="col text-center fsize14">
					<p class="text-dark">Don't have an account? <a href="{% url 'account:register'%}" class="simple-link text-muted">Signup</a></p>
				</div>
			</div>

    	</form>
    </div>
</div>
{% endblock %}