<!-- End Contact Section -->
<br>
<!--footer-main-->
<footer class="footer-main">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="about-widget">
            <div class="footer-logo">
              <figure>
                <a href="index.html">
                  <img src="images/logo-2.png" alt="">
                </a>
              </figure>
            </div>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, temporibus?</p>
            <ul class="location-link">
              <li class="item">
                <i class="fa fa-map-marker"></i>
                <p class="text-white">Yallahs St Thomas</p>
              </li>
              <li class="item">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <a href="mailto:shipeast852gmail.com" class="text-white simple-link">
                  <p class="text-white">shipeast852gmail.com</p>
                </a>
              </li>
              <li class="item">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <p class="text-white">+1876 891 2375</p>
              </li>
            </ul>
            <ul class="list-inline social-icons">
              <li><a href="#"><i class="fa fa-facebook text-danger"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter text-danger"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin text-danger"></i></a></li>
              <li><a href="#"><i class="fa fa-vimeo text-danger"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <h6>Services</h6>
          <ul class="menu-link">
            <li>
              <a href="#" class="text-white">
                <i class="fa fa-ship text-white" aria-hidden="true"></i>Sea</a>
            </li>
            <li>
              <a href="#" class="text-white">
                <i class="fa fa-plane text-white" aria-hidden="true"></i>Air</a>
            </li>
            <li>
              <a href="#" class="text-white">
                <i class="fa fa-truck text-white" aria-hidden="true"></i>Road</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="social-links">
            <h6>Recent Posts</h6>
            <ul>
              <li class="item">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="images/blog/post-thumb-small.jpg" alt="post-thumb">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="#">Post Title</a></h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, dolorem.</p>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="images/blog/post-thumb-small.jpg" alt="post-thumb">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <a href="#">Post Title</a>
                    </h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, dolorem.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container clearfix">
      <div class="copyright-text">
        <p>&copy; Copyright 2019. All Rights Reserved by
          <a href="{% url 'sitemap:home' %}">ShipEast</a>
        </p>
      </div>
      <ul class="footer-bottom-link">
        <li>
          <a href="{% url 'sitemap:home' %}">Home</a>
        </li>
        <li>
          <a href="{% url 'sitemap:about' %}">About</a>
        </li>
        <li>
          <a href="{% url 'sitemap:contact' %}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!--End footer-main-->